.wrapper {
  position: relative;
  width: 274px;
  height: 426px;
}

.image {
  width: 274px;
  height: 268px;
  object-fit: cover;
  border-radius: 14px;
  margin-bottom: 14px;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.title {
  font-size: 16px;
  font-weight: 500;
}

.make {
  font-size: 16px;
}

.model {
  color: #3470ff;
}

.price {
  font-size: 16px;
  font-weight: 500;
}

.optionsWrapper {
  display: flex;
  margin-bottom: 4px;
  overflow: hidden;
  & :last-child {
    border-right: none;
    padding-right: 0;
  }
  & :first-child {
    padding-left: 0;
  }
}

.option {
  font-size: 12px;
  color: rgba(18, 20, 23, 0.5);
  padding: 0 6px;
  border-right: 1px solid rgba(18, 20, 23, 0.1);
  white-space: nowrap;
}

.btn {
  width: 274px;
  height: 44px;
  margin-top: 28px;
  background-color: #3470ff;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  &:hover {
    background-color: #0b44cd;
  }
}

.btnFav {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 14px;
  right: 14px;
  svg {
    stroke: #ffffff;
  }
  svg:hover {
    /* fill: #3470ff; */
    stroke: #3470ff;
  }
  .fav {
    fill: #3470ff;
    stroke: #3470ff;
  }
}

.btnFavActive {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 14px;
  right: 14px;
  svg {
    stroke: #3470ff;
    fill: #3470ff;
  }
  svg:hover {
    fill: transparent;
  }
}
